<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>Estudos Senai</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>


<a routerLink="/react" routerLinkActive="active">
    <button mat-raised-button color="primary">React</button>
</a>
<a routerLink="/angular" routerLinkActive="active">
    <button mat-raised-button color="warn">Angular</button>
</a>

<a routerLink="/partidos" routerLinkActive="active">
    <button mat-raised-button color="accent">Partidos Politicos</button>
</a>

<router-outlet></router-outlet>