<mat-table [dataSource]="partidos" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="titulo"> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sigla">
        <mat-header-cell *matHeaderCellDef class="titulo"> Sigla </mat-header-cell>
        <mat-cell *matCellDef="let element" appTextoEmNegrito [siglaPartido]="element.sigla"> {{element.sigla}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef class="titulo"> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element" appTextoEmNegrito> {{ element.nome }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="membros">
        <mat-header-cell *matHeaderCellDef class="titulo"> Membros </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a routerLink="/partidos/{{element.id}}/membros" routerLinkActive="active">
                <button mat-raised-button color="accent">Membros</button>
            </a>
        </mat-cell>


    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<br />

<button mat-stroked-button color="warn" (click)="anteriorPagina()" [disable]="page===1">Anterior</button>
<button mat-stroked-button color="warn" (click)="proximaPagina()" [disable]="!temProximaPg">Proximo</button>