<mat-table [dataSource]="membros" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="titulo"> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef class="titulo"> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="titulo"> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="siglaUf">
        <mat-header-cell *matHeaderCellDef class="titulo"> SiglaUf </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.siglaUf | converteUfSiglaEmNome }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="idLegislatura">
        <mat-header-cell *matHeaderCellDef class="titulo"> Legislatura </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.idLegislatura }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="siglaPartido">
        <mat-header-cell *matHeaderCellDef class="titulo"> Partido </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.siglaPartido }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="urlFoto">
        <mat-header-cell *matHeaderCellDef class="titulo"> urlFoto </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <img mat-card-sm-image [src]="element.urlFoto" (click)="openModalDeputado(element.id)">
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>