<p>membros-part works!</p>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="titulo"> E-mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="titulo"> # </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sigla">
        <mat-header-cell *matHeaderCellDef class="titulo"> Sigla </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sigla}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef class="titulo"> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>