table {
    width: 100%;
}

.titulo {
    font-weight: bold;
    color: blueviolet;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 18px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.container {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
    color: blue;
}

mat-label {
    margin: 50px;
    width: 50%px;
}

button {
    height: 90px;
    width: 150px;
    margin: 20px;
    padding: 20px 20px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}